:root {                     /*variables de CSS*/
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --verde: #263133b0;

    --fuente-principal: 3rem;

}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body { /*Fondo de pagina y dise침o*/
    font-size: 16px;
    font-family: "Audiowide", sans-serif;
    background-image: linear-gradient(to top, rgb(128, 143, 143) 15%,  rgb(255, 255, 255)100%);
}
.menu {
    font-family: "Audiowide", sans-serif;
}
.titulo { /*Titulo HALO SHOP*/
    text-align: center; 
    color: rgba(233, 228, 228, 0.959);
    background-color:rgba(19, 17, 17, 0.897);
    font-family: "Modak", system-ui;
    font-size: 5rem; 
    font-weight: 400;
    margin: 0 auto;
}
.titulo svg {
    width: 4.3rem;
    height: 4.3rem;
    stroke: #00ff55;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.boton{
    background-color: rgba(9, 240, 209, 0.767); /*Boton de obtener gif-card*/
    color: var(--blanco);
    padding: 1rem 2rem;
    margin-top: 5rem;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5rem;
    text-align: center;
    width: 90%;
    border: none;
}
/*Utilidad del boton enviar*/
.w-sm-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100{
        width: auto; /*Ajustar el boton al cambio de pantalla*/
    }
}
.flex{
    display: flex;
}
.enviar{
    justify-content: flex-end;
}
.boton:hover{
    cursor: pointer;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
/*Navegaci칩n de men칰*/
.nav-bg {
    background-color:  rgba(159, 175, 101, 0.938);
}
.menu{
    display: flex;
    flex-direction: column;
    border: 10px solid rgb(4, 33, 56);
    border-left: 1rem;
    border-right: 1rem;
    border-radius: .5rem;
}
@media (min-width: 768px) {  /*480 px para celular, 768px Dimensi칩n tablet, 1140 px laptop, 1400 px macro pantallas.*/
    .menu{
        flex-direction: row;
        justify-content: space-between;
    }
}
.menu a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    padding: 1.5rem;
}

.menu a:hover{
    background-color: var(--gris);
    color: rgba(49, 236, 158, 0.938);
}

/*Fondo y dise침o*/
.valorant {
    background-image: url(../img/valorant.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
@media (min-width: 760px) {
    .valorant{
        justify-content: center;    
    }
}
.c-valorant{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

.c-valorant h2, .c-valorant p{
    text-align: center;
    color: var(--blanco);
}

.c-valorant svg {
    width: 50px; 
    height: 50px;  
    vertical-align: middle;
    margin-right: 10px;
}
.sombra {
    box-shadow: 0px 9px 14px 3px rgba(0,0,0,0.35);
    border-radius: 1rem;
    padding: 2rem;
    background: linear-gradient(180deg,#86895d 0%, #272b00 80%);
}
/*Servicios*/

@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid: 200px 200px / repeat(3, 1fr); /*primer parte es el row / y segunda parte es la medida por columna | 1fr = fracci칩n*/
        column-gap: 1rem;
    }
}

.contenedor h2{
    color: var(--blanco);
    text-align: center;
}
.servicio {
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicio h3{
    color: #a8a4a4;
    font-weight: 1000;
}

.servicio p{
    line-height: 2;

}

.servicio .icon {
        width: 10rem;
        background-color: #060133;
        border-radius: 50%;
        display: flex;
        aspect-ratio: 1 / 1;  /*para mantener el aspecto del fondo icon*/ 
        flex-direction: row; /* 游녣 apila los SVG uno sobre otro */
        justify-content: space-evenly;
        align-items: center;
}


.servicio .icon svg { /*Ajuste tama침o de icono*/
    width: 5rem;
    height: 5rem;
    color: var(--blanco);
}

/*Contacto*/

.formulario {
    background:linear-gradient(180deg,#8b8989 0%, #413e3e 80%);
    width: min(60rem , 100%); /*Utilizar el m치s peque침o*/
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2rem;


}

.formulario fieldset{
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

@media (min-width: 768px) {
    .campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem; /*Separaci칩n de columnas*/   
    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    } /*Como tengo varios div con class campo el n칰mero que coloque me permite elegir que tipo de div con esa clase voy a trabajar*/
}
.campo svg{
    width: 1rem;
    height: 1rem;
}
.campo{
    margin-bottom: 1rem;
}

.campo label{
    color: #292727;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    flex-direction: row;

}

.input-text{
    width: 100%;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
}

.campo textarea{
    height: 20rem;
}

/*Texto de pie*/
.footer{
    text-align: center;
    color: #1f3d05b4;
}